.home-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
}


.container_navBarCompononent{
    margin-bottom: 100px;
    padding-left: 4em;
}
.container_carruselCompononent img{
    width: 50vw;
}
.Home-body{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 4em;
    color: #fff;
}