.home-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
}
.Home-body{
    display: flex;
    align-items: center;
    gap: 1em;
 }

.container_navBarCompononent{
    margin-bottom: 100px;
    padding-left: 4em;
}
.container_carruselCompononent img{
    /* width: 100%; */
    width: 50vw;
}
