.navbar-main-container{
    position: fixed;
    top: 0;
    left: 5vw;
    display: grid;
    width: 95vw;
    grid-template-columns: .1fr 4fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0em;
    border-radius: 4em 0 0 4em;
    background: rgba(206, 206, 206, 0.80);
    box-shadow: 1px 1px 8px #000;
    z-index: 100;
}
.navbar-logo-container{
    border-radius: 100em;
}
.navbar-logo-img{
    width: 100px;
/* height: 7.5rem   ; */
/* flex-shrink: 0; */
border-radius: 500px;
background: #FFF;
}
.navbar-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.inactive{
    font-size: 1rem;
    font-weight: 400;
    color: #0000007c;
    text-decoration: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.inactive:hover{
    transform: scale(1.07);
    color: #cecece ;
    font-weight: 400 ;
}
.active{
    /* font-size: 1.2rem !important; */
    font-weight: 400 ;
    color: #fff !important;
    transform: scale(1.15);
    border-bottom: .5px solid #fffefe73;
}
.navbar-redes-container{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.navbar-redes-icon{
    color: #0000007c;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.navbar-redes-icon:hover{
    color: #fff ;
    transform: scale(1.15);
}
/* .icon-ig:hover{
    color:#d6249f;
    
}
.icon-fb:hover{
    color: #3b5998 ;
}
.icon-li:hover{
    color: #0e76a8 ;
} */