.carousel-main-container{
    display: flex; 
    width: 100%;
    justify-content: center;
}


.carousel-items-container{
    width: 40vw;
    border-radius: 1em;
}
.carousel-img{
    width: 100%;
    border-radius: 1em;
}

